@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&display=swap');

* {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
span {
  position: relative;
  z-index: 1;
}

span::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: #ffc800;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  border-left: solid 2px;
  border-right: solid 2px;
}

span:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
  border-left: solid 2px;
  border-right: solid 2px;
}

.top {
  border: solid 2px;
  border-color: #000000;
  border-radius: 0px;
  text-align: center;
  box-sizing: border-box;
  background-color: #000000cf;
}


a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

.logo {
  background: url(Logo.png);
  background-size: cover;
  border-radius: 50%;
  background-position: center;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
}
.summary {
  margin-top: 10px;
  border: solid 2px;
  border-color: #000000;
  border-radius: 0px;
  text-align: center;
  box-sizing: border-box;
  max-width: fit-content;
  margin-left: 150px;
  margin-right: 150px;
  font-family: "Courier Prime", monospace;
  font-weight: bold;
  font-style: normal;
  object-fit: scale-down;
  color: #ffadad;
  background-color: #000000;
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
img {
  padding: 10px;
  border-radius: 15px;
}
iframe {
  border-radius: 5px;
  border-color: #ffffff;
  border: solid 2px;
}
.bottom {
  position: fixed;
  left: 15px;
  bottom: 15px;
  max-width: fit-content;
}